@*@using Microsoft.AspNetCore.Http;

@{
    var isvalid = Context.Session.GetString("token");
}
@if (isvalid!=null)
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a asp-controller="" asp-action="" class="nav-link">Welcome</a>
        </li>
        <li class="nav-item">
            <a asp-controller="" asp-action="" class="nav-link">Sign Out</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a asp-controller="" asp-action="" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a asp-controller="" asp-action="" class="nav-link">Sign </a>
        </li>
    </ul>
}*@