@model SignUpViewModel
@{
    ViewData["Title"] = "Signup";
}

<h1 class="text-center">Signup</h1>


<div class="container">
    <div class="row">
        <div class="COL-6 offset-4 border border-primary rounded pl-5 pr-5 pb-5">
            <div class="text-center">
                <h1 class="text-info pt-2" >User Registration</h1>
            </div>
            <form asp-controller="Actions" asp-asp-action="SignUp" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input type="text" asp-for="UserName" placeholder="Enter User Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-bg-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" placeholder="Enter your Email " class="form-control" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-bg-danger"></span>



                </div>

                <div class="form-group">
                    <label asp-for="MobileNo"></label>
                    <input type="text" asp-for="MobileNo" placeholder="Enter Your Mobile NUmber" class="form-control" autocomplete="off" />
                    <span asp-validation-for="MobileNo" class="text-bg-danger"></span>


                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="text" asp-for="Password" placeholder="Enter your Password" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-bg-danger"></span>


                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="text" asp-for="ConfirmPassword" placeholder="Enter your Confirm Password " class="form-control" autocomplete="off" />
                    <span asp-validation-for="ConfirmPassword" class="text-bg-danger"></span>


                </div>
                <div class="form-group">
                    <input type="submit" class="=btn btn-primary btn-lg mb-1 float-right" value="Register"  />

                </div>
            </form>

        </div>
    </div>
</div>




