.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),#4e8976), url('../image/microsoftteams-image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*.navbar {
    position: absolute;
    background-color: black;
}*/

.logo {
    width: 4vw;
    height: 7vh;
    font-size: 34px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    top: 4%;
    left: 10%;
    text-align: center;
    border-radius: 50%;
    background-color: #332c2c;
    color: #fff;
    font-family: sans-serif;
}

#banner-text {
    text-align: center;
    color: white;
    width: 100vw;
    line-height: 52px;
    margin-top: 190px;
    margin-bottom: 30px;
}

    #banner-text h1 {
        font-weight: 300;
        font-size: 70px;
        line-height: 1.5;
        font-family: sans-serif;
    }

    #banner-text p {
        line-height: 1.5;
        font-size: 29px;
        font-style: italic;
    }

.button {
    border-radius: 100px;
    background-color: #473d39;
    border: none;
    color: #f3e3e3;
    text-align: center;
    font-size: 18px;
    padding: 13px;
    width: 11vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

.button2 {
    border-radius: 100px;
    background-color: transparent;
    border: none;
    color: #f3e3e3;
    text-align: center;
    font-size: 18px;
    padding: 13px;
    width: 80vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 9px;
}

.last {
    text-align: center;
    color: white;
    width: 100vw;
    transform: translateY(361%);
    position: absolute;
    top: 30%;
    line-height: 40px;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .button2 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.button2:hover span {
    padding-right: 25px;
}

    .button2:hover span:after {
        opacity: 1;
        right: 0;
    }
