@model HouseImageViewModel

<form asp-controller="HouseImage" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="CoverImage"></label>
        <input type="file" asp-for="CoverImage" />
        <span asp-validation-for="CoverImage"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageName"></label>
        <input type="text" asp-for="ImageName" class="form-control" />
        <span asp-validation-for="ImageName"></span>
    </div>
    <div class="form-group">
        @*<label asp-for="HouseId"></label>*@
        <input type="hidden" asp-for="HouseId" class="form-control" />
        <span asp-validation-for="HouseId"></span>
    </div>
    <button type="submit">Create</button>
</form>
