@model PropertyViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row"></div>
<a asp-controller="House" asp-action="Index" >Go back to List</a>

<div class="container mt-5">
    <h3>All Your Property Images</h3>
    <div class="row">
         @foreach(var img in Model.HouseImages)
        {
            if (img.HouseId == Model.HouseId)
            {


                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                  <img src="@img.ImageUrl" class="img-thumbnail" />
                    <div class="card-body">
                        <h3 class="card-title">@img.ImageName</h3>
                        <div class="d-flex justify-content-between align-items-center">
                        
                            <div class="btn-group">
                             
                                </div>
                            </div> 
                            <a asp-controller="HouseImage" asp-action="DeleteHouseImageById" class="btn btn-danger" asp-route-id="@img.Id">Delete</a>

                        <small class="text-muted">@img.ImageName</small>
                        </div>
              </div>

              </div>

            }
        }
        <a asp-controller="HouseImage" asp-action="Create" class="mb-3 btn btn-dark">Add Images</a>
    </div>

</div>
