@{
    ViewData["Title"] = "Home Page";
}



<div class="banner">
    <div id="banner-text">
        <H1>Easy Housing System</H1>
        <p>Luxury couldn’t come cheaper than this.</p>
        <div>
            <a asp-action="Index" asp-controller="Buyers" class="button"><span>Buy Property</span></a>
            <a asp-action="Index" asp-controller="House"  class="button"> <span>Sell Property</span></a>
        </div>
    </div>
</div>
<div class="last" style="padding-top:50px">
    <a asp-action="About" asp-controller="Home" class="button2" > <span>About Us</span></a>
</div>