@model SellerHouseDetailsViewModel
@{
    ViewData["Title"] = "Create";
}
<h1 class="mt-3 text-light">white space</h1>
<h1 class="text-xl-center border-0 mt-4">Post Your Property</h1>
<script>
    document.getElementById("price-range").addEventListener("input", function () {
        document.getElementById("priceOutputId").value = '$' + this.value;
    });
</script>


<div class="container">
    <div class="row">
        <div class="col-md-12 offset-1">
            <div class="row">
                <div class="col-md-4 align-content-xxl-start offset-0">
                    
                    <p>Do you want to Sell your flat or put your house on rent? Magicbricks has the right solution for you.Your advertisement will be viewed by millions of buyers and tenants in India.Magicbricks provides you the best classified for your requirement. Our website offers one free property ad that you can use for selling or renting . You will be able to sell or rent every real estate property from flat or house to land , even commercial property fast and immediately.</p
                        <img src="https://dbv47yu57n5vf.cloudfront.net/s3fs-public/editorial/my/2018/March/30/48319485_m.jpg" width="100" height="100" />

                    
                     <div class="row-cols-1 text-start">
                <a asp-controller="House" asp-action="Index" class="btn btn-dark">Your Existing Property</a>
            </div>
            <br />
            <div class="row-cols-1 text-start">
                <p1>Sellers Add images for their properties to reach more customer. As Per our research customers are more impressed with images. If You want to grow your insight please add Images</p1>
                <a asp-controller="HouseView" asp-action="Create" class="btn btn-dark">Add Images</a>
            </div>
                    @*<img src="https://cdn.dribbble.com/users/1206715/screenshots/6480410/home_key_logo.jpg" width="500" height="520" />*@
                </div>
                <div class="col-md-6 align-content-end shadow-lg rounded pl-5 pr-5 pb-3 offset-1">
                    <h4 class="card-header-pills">Add Property Details</h4>
                    <form asp-controller="House" asp-action="Create" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                          
                           
                            <input type="hidden" asp-for="UserDetailsId"  />
                          
                       
                        <div class="form-group">
                            
                            <label asp-for="PropertyOption">Property Option</label>
                            <br />
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.PropertyOption, "Sell", new { @class = "form-check-input" })
                                <label class="form-check-label">Sell</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.PropertyOption, "Rent", new { @class = "form-check-input" })
                                <label class="form-check-label">Rent</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PropertyType" class="form-label">Property type</label>
                            <br />
                            <select asp-for="PropertyType" class="dropdown btn btn-outline-dark">
                                <option value="">--Select--</option>
                                <option value="Flat">Flat/Apartment</option>
                                <option value="Villa">Villa</option>
                                <option value="Land">Land</option>
                                <option value="SingleRoom">Single Room</option>
                                <option value="IndependentHouse">Independent House</option>

                            </select>
                            <span asp-validation-for="PropertyType"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PropertyName">Property Name</label>
                            <input type="text" asp-for="PropertyName" placeholder="Enter Suitable Name" class="form-control" />
                            <span asp-validation-for="PropertyName" class="text-bg-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <input type="text" asp-for="Address" placeholder="Enter Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-bg-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="CityId">City</label>
                            <input type="text" asp-for="CityId" placeholder="City Id" class="form-control" />
                            <span asp-validation-for="CityId" class="text-bg-danger"></span>
                            
                        </div>
                          <select id="genre-dropdown" name="id" asp-for="CityId" class="w-75 form-select" aria-describedby="button-addon2">
                    <option value="">--Select--</option>
                    @foreach (var city in Model.CityViewModels.Distinct())
                    {
                        <option value="@city.Id">@city.CityName</option>
                    }
                </select>

                        <div class="form-group">
                            <label asp-for="Landmark">Landmark</label>
                            <input type="text" asp-for="Landmark" placeholder="Enter Land Mark" class="form-control" />
                            <span asp-validation-for="Landmark" class="text-bg-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Region">Region</label>
                            <input type="text" asp-for="Region" placeholder="Enter Region" class="form-control" />
                            <span asp-validation-for="Region" class="text-bg-danger"></span>
                        </div>
                         <div class="mb-2">
                <label asp-for="UploadDate" class="form-label"></label>
                <input type="date" asp-for="UploadDate" class="form-control" />
                <span asp-validation-for="UploadDate"></span>
            </div>
                        <div class="form-group">
                            <label asp-for="InitialDeposit">Initial Deposit</label>
                            <input type="text" asp-for="InitialDeposit" placeholder="Enter initial deposit" class="form-control" />
                            <span asp-validation-for="InitialDeposit" class="text-bg-danger"></span>
                        </div>
                        <label asp-for="PriceRange" class="form-label">Price Range:</label><br />
                        <input type="text" asp-for="PriceRange" placeholder="Enter price range" class="form-control" />
                        <span asp-validation-for="PriceRange" class="text-bg-danger"></span>
                        <br />
                        
                        <div class="form-group">
                            @*<input type="submit" class="=btn btn-dark float-right" value="Add Property" />*@
                            <button type="submit" class="btn btn-dark" value="Add Property">Add Property</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




