@model SellerHouseDetailsViewModel
@{
    ViewData["Title"] = "Delete";
} <h1>Delete</h1> 
<h1 class="text-center mt-4">Delete From Listing </h1> 
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header"><h3 class="text-center">Delete Property</h3></div><div class="card-body">
                    <img  src="https://cdn.pixabay.com/photo/2012/04/12/22/25/warning-sign-30915__340.png"
                                                
                                                 class="offset-4" height="100" width="100" />
                         <p class="text-center">
                        Are you sure you want to delete this Property?
                    </p>
                    <div class="d-flex justify-content-around"><form asp-controller="House" asp-action="Delete" method="post">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        </form>
                        <form asp-controller="House" asp-action="Index" method="get"><button type="submit" class="btn btn-danger">No</button></form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>